@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/reset";
@import "compass/utilities/general/clearfix";

@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700);

$black : #111111;
$grey : #BBBBBB;
$red: #F01616;
$white: #FFFFFF;

$desktop_min_width: 920px;

$mobile_header_height: 54px;
$deskop_photo_size: 768px;

@mixin device($device) {
    @if $device == mobiles {
        @media screen and (max-width: $desktop_min_width - 1) { @content; }
    }
    @else if $device == desktops {
        @media screen and (min-width: $desktop_min_width) { @content; }
    }
}

body {
    font: 12px "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#banner {
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    min-height: 400px;
    position: relative;
    width: 100%;
    z-index: 10;

    p {
        font-weight: 100;
        margin: 20vh 10px 0px 10px;
        text-align: center;

        @include device(mobiles) {
            font-size: 48px;
        }

        @include device(desktops) {
            font-size: 72px;
        }
    }

    a.arrow {
        border: 1px solid $white;
        @include border-radius(50%, 50%);
        color: $white;
        height: 48px;
        font-size: 24px;
        font-weight: 100;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        width: 48px;
    }
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;

    @include device(desktops) {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

#nav {
    background-color: white;
    color: $black;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 0;

    a {
        color: $black;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:active, a:hover {
        color: $red;
    }

    @include device(desktops) {
        display: flex;
        justify-content: center;

        & > div {
            justify-content: space-between;
            display: flex;
            width: $desktop_min_width;
        }

        button {
            display: none;
        }
    }
}

#nav-title {
    padding: 15px;

    a {
        font-size: 14px;

        span.jon {
            color: $black;
            margin-right: 0.25em;
        }

        span.hewer {
            color: lighten($black, 25%);
            margin-right: 0.25em;
        }

        span.photography {
            color: lighten($black, 50%);
        }
    }
    @include device(mobiles) {
        align-items: center;
        display: flex;
        justify-content: space-between;

        button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;

            span.icon-bar {
                background-color: $black;
                border-radius: 1px;
                display: block;
                height: 2px;
                width: 22px;
            }

            span.icon-bar+span.icon-bar {
                margin-top: 6px;
            }
        }

        @include clearfix();
    }

    @include device(desktops) {
        button {
            display: none;
        }
    }
}

ul#nav-menu {
    list-style-type: none;
    padding: 15px;

    a {
        font-size: 12px;
    }

    @include device(mobiles) {
        display: none;
        padding-top: 0px;

        &.expand {
            display: block;
        }

        li {
            padding: 10px 0px;
        }
    }

    @include device(desktops) {
        display: flex;

        li {
            padding: 0px 10px;
        }
    }
}

#albums, #photos {
    margin: 50px 0px;
}

#albums {
    display: flex;

    @include device(mobiles) {
        flex-direction: column;
        align-items: center;
    }

    @include device(desktops) {
        flex-wrap: wrap;
        justify-content: space-between;
        width: $desktop_min_width;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

.album {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    justify-content: center;

    @include device(mobiles) {
        $thumbnail-width: 256px;
        height: $thumbnail-width * 2 / 3;
        margin: 25px 0px;
        width: $thumbnail-width;
    }

    @include device(desktops) {
        $thumbnail-width: 384px;
        height: $thumbnail-width * 2 / 3;
        margin: ($desktop_min_width - 2*$thumbnail-width) / 4;
        width: $thumbnail-width;
    }

    p {
        font-size: 30px;
        font-weight: 200;
    }
}

#photos {
    @mixin caption-below() {
        flex-direction: column;

        &.caption_right {
            align-items: flex-end;
            text-align: right;
        }

        .caption {
            margin-top: 10px;
            width: 100%;
        }

        &.caption_left .caption {
            margin-left: 20px;
        }

        &.caption_right .caption {
            margin-right: 20px;
        }
    }
    @mixin caption-to-the-side() {
        align-items: flex-end;
        justify-content: flex-start;

        &.caption_left {
            flex-direction: row-reverse;
            text-align: right;
        }

        .caption {
            margin-bottom: 20px;
            width: 100%;
        }

        &.caption_left .caption {
            margin-right: 20px;
        }

        &.caption_right .caption {
            margin-left: 20px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        display: flex;
        padding: 50px 0px;
        @include device(desktops) {
            width: $deskop_photo_size;
        }
    }

    li.portrait {
        .photo {
            @include device(mobiles) {
                width: 80vw;

                img {
                    width: 100%;
                }
            }

            @include device(desktops) {
                height: $deskop_photo_size;

                img {
                    height: 100%;
                }
            }
        }

        @include device(mobiles) {
            @include caption-below();
        }

        @include device(desktops) {
            @include caption-to-the-side();
        }
    }

    li.landscape {
        .photo {
            @include device(mobiles) {
                width: 80vw;
            }

            @include device(desktops) {
                width: $deskop_photo_size;
            }

            img {
                width: 100%;
            }
        }
        @include caption-below();
    }
}

.caption {
    line-height: 2em;
}


#footer {
    background: $black;
    color: $grey;
    display: flex;
    line-height: 2em;
    padding: 20px 0px;
    width: 100%;

    @include device(mobiles) {
        flex-direction: column;
        align-items: center;
    }

    @include device(desktops) {
        justify-content: center;
    }

    a {
        color: white;
        font-weight: 700;
        text-decoration: none;
    }

    #footer-index li.first {
        font-size: 14px;
        text-transform: uppercase;
    }

    #footer-index {
        display: flex;
        flex-direction: row;

        @include device(mobiles) {
            justify-content: space-between;
            width: 80%;
        }
    }

    #footer-index ul, #footer-footnote {
        @include device(desktops) {
            padding: 0px 50px;
        }
    }

    #footer-footnote {
        display: flex;

        @include device(mobiles) {
            font-size: 10px;
            justify-content: space-between;
            margin-top: 25px;
            width: 80%;
        }

        @include device(desktops) {
            flex-direction: column;
        }

        p:first-of-type {
            @include device(mobiles) {
                display: none;
            }

            @include device(desktops) {
                flex: 1;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
}
