doctype html
html
    head
        title= title
        meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/scripts/bundle.js')
    body
        #nav
            #header
                a(href='/')
                    span.jon Jon
                    span &nbsp;
                    span.hewer Hewer
                    span &nbsp;
                    span.photography Photography
                button#nav-toggle
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            ul#menu
                li
                    a#select(href='/') Selected Work
                li
                    a#select(href='/iceland') Iceland
                li
                    a#select(href='/yosemite') Yosemite
                li
                    a#500px(href='https://500px.com/jonhewer') 500px
                li
                    a#contact(href='mailto:jonhewer@gmail.com') Contact
        #main
            block main
        #footer
            block footer
